template/logicapp_virustotal_enrichment.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "_description": "MySQL Threat Intelligence Enrichment - Logic App + VirusTotal API",
    "_notes": [
      "Post-deployment: Authorize Azure Monitor Logs API connection in portal",
      "Network: Logic App must be able to reach www.virustotal.com from Azure China",
      "Rate Limit: Free VT API = 4 req/min, 500/day. 16s delay between calls."
    ]
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "mysql-virustotal-enrichment",
      "metadata": { "description": "Name of the Logic App" }
    },
    "virusTotalApiKey": {
      "type": "securestring",
      "metadata": { "description": "VirusTotal API Key (get from virustotal.com/gui/my-apikey)" }
    },
    "workspaceId": {
      "type": "string",
      "defaultValue": "3d812e4e-1ea6-4e98-bee5-069c94f97930",
      "metadata": { "description": "Log Analytics Workspace ID (GUID)" }
    },
    "workspaceKey": {
      "type": "securestring",
      "metadata": { "description": "Log Analytics Workspace Primary or Secondary Key" }
    },
    "workspaceResourceId": {
      "type": "string",
      "defaultValue": "/subscriptions/0f2daa80-6b16-44ee-8016-4ad888e059ac/resourcegroups/omsdemo/providers/microsoft.operationalinsights/workspaces/somsdemoworkshop",
      "metadata": { "description": "Full resource ID of the Log Analytics workspace" }
    },
    "alertEmail": {
      "type": "string",
      "defaultValue": "",
      "metadata": { "description": "Email for threat notifications. Leave empty to skip alert rule creation." }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "metadata": { "description": "Location for all resources" }
    }
  },
  "variables": {
    "subscriptionId": "[split(parameters('workspaceResourceId'), '/')[2]]",
    "workspaceRG": "[split(parameters('workspaceResourceId'), '/')[4]]",
    "workspaceName": "[split(parameters('workspaceResourceId'), '/')[8]]",
    "dataCollectorConnectionName": "[concat(parameters('logicAppName'), '-datacollector')]",
    "monitorLogsConnectionName": "[concat(parameters('logicAppName'), '-monitorlogs')]",
    "actionGroupName": "[concat(parameters('logicAppName'), '-ag')]",
    "alertRuleName": "MySQL-ThreatIntel-HighRisk-IP",
    "bruteForceQuery": "let lookback = 1h;\nlet FailedConnectionThreshold = 5;\nlet DisconnectedSessions = MySqlAuditLogs\n| where TimeGenerated > ago(lookback)\n| where EventSubclass == \"DISCONNECT\"\n| distinct ConnectionId;\nMySqlAuditLogs\n| where TimeGenerated > ago(lookback)\n| where EventSubclass == \"CONNECT\"\n| where ConnectionId !in (DisconnectedSessions)\n| extend ResourceName = tostring(split(_ResourceId, \"/\")[-1])\n| summarize FailedConnections = count(), FirstAttempt = min(TimeGenerated), LastAttempt = max(TimeGenerated), AttemptedUsers = make_set(User, 10) by Ip, ResourceName\n| where FailedConnections >= FailedConnectionThreshold\n| project Ip, ResourceName, FailedConnections, FirstAttempt, LastAttempt, AttemptedUsers"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('dataCollectorConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Log Analytics Data Collector",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
        },
        "parameterValues": {
          "username": "[parameters('workspaceId')]",
          "password": "[parameters('workspaceKey')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('monitorLogsConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Azure Monitor Logs",
        "api": {
          "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('dataCollectorConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('monitorLogsConnectionName'))]"
      ],
      "properties": {
        "state": "Disabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "Object",
              "defaultValue": {}
            },
            "VirusTotalApiKey": {
              "type": "SecureString"
            }
          },
          "triggers": {
            "Recurrence_Hourly": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Hour",
                "interval": 1
              }
            }
          },
          "actions": {
            "Query_Suspicious_IPs": {
              "type": "ApiConnection",
              "inputs": {
                "body": "[variables('bruteForceQuery')]",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/queryData",
                "queries": {
                  "subscriptions": "[variables('subscriptionId')]",
                  "resourcegroups": "[variables('workspaceRG')]",
                  "resourcetype": "Log Analytics Workspace",
                  "resourcename": "[variables('workspaceName')]",
                  "timerange": "Last hour"
                }
              },
              "runAfter": {}
            },
            "For_Each_Suspicious_IP": {
              "type": "Foreach",
              "foreach": "@body('Query_Suspicious_IPs')?['value']",
              "actions": {
                "Delay_VT_Rate_Limit": {
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 16,
                      "unit": "Second"
                    }
                  },
                  "runAfter": {}
                },
                "Call_VirusTotal_API": {
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://www.virustotal.com/api/v3/ip_addresses/@{items('For_Each_Suspicious_IP')?['Ip']}",
                    "headers": {
                      "x-apikey": "@parameters('VirusTotalApiKey')"
                    },
                    "retryPolicy": {
                      "type": "fixed",
                      "count": 2,
                      "interval": "PT30S"
                    }
                  },
                  "runAfter": {
                    "Delay_VT_Rate_Limit": [ "Succeeded" ]
                  }
                },
                "Parse_VT_Response": {
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@body('Call_VirusTotal_API')",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "properties": {
                            "attributes": {
                              "type": "object",
                              "properties": {
                                "as_owner": { "type": "string" },
                                "asn": { "type": "integer" },
                                "country": { "type": "string" },
                                "continent": { "type": "string" },
                                "network": { "type": "string" },
                                "reputation": { "type": "integer" },
                                "last_analysis_stats": {
                                  "type": "object",
                                  "properties": {
                                    "malicious": { "type": "integer" },
                                    "suspicious": { "type": "integer" },
                                    "harmless": { "type": "integer" },
                                    "undetected": { "type": "integer" },
                                    "timeout": { "type": "integer" }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Call_VirusTotal_API": [ "Succeeded" ]
                  }
                },
                "Compose_Enrichment_Record": {
                  "type": "Compose",
                  "inputs": {
                    "IpAddress": "@{items('For_Each_Suspicious_IP')?['Ip']}",
                    "ResourceName": "@{items('For_Each_Suspicious_IP')?['ResourceName']}",
                    "FailedConnections": "@items('For_Each_Suspicious_IP')?['FailedConnections']",
                    "FirstAttempt": "@{items('For_Each_Suspicious_IP')?['FirstAttempt']}",
                    "LastAttempt": "@{items('For_Each_Suspicious_IP')?['LastAttempt']}",
                    "AttemptedUsers": "@{items('For_Each_Suspicious_IP')?['AttemptedUsers']}",
                    "VT_Malicious": "@body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['malicious']",
                    "VT_Suspicious": "@body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['suspicious']",
                    "VT_Harmless": "@body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['harmless']",
                    "VT_Undetected": "@body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['undetected']",
                    "VT_Country": "@{body('Parse_VT_Response')?['data']?['attributes']?['country']}",
                    "VT_ASOwner": "@{body('Parse_VT_Response')?['data']?['attributes']?['as_owner']}",
                    "VT_ASN": "@body('Parse_VT_Response')?['data']?['attributes']?['asn']",
                    "VT_Network": "@{body('Parse_VT_Response')?['data']?['attributes']?['network']}",
                    "VT_Reputation": "@body('Parse_VT_Response')?['data']?['attributes']?['reputation']",
                    "ThreatScore": "@add(body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['malicious'], body('Parse_VT_Response')?['data']?['attributes']?['last_analysis_stats']?['suspicious'])",
                    "EnrichmentSource": "VirusTotal",
                    "EnrichmentTime": "@{utcNow()}"
                  },
                  "runAfter": {
                    "Parse_VT_Response": [ "Succeeded" ]
                  }
                },
                "Send_to_Log_Analytics": {
                  "type": "ApiConnection",
                  "inputs": {
                    "body": "@outputs('Compose_Enrichment_Record')",
                    "headers": {
                      "Log-Type": "MySqlThreatIntel"
                    },
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azureloganalyticsdatacollector']['connectionId']"
                      }
                    },
                    "method": "post",
                    "path": "/api/logs"
                  },
                  "runAfter": {
                    "Compose_Enrichment_Record": [ "Succeeded" ]
                  }
                }
              },
              "runAfter": {
                "Query_Suspicious_IPs": [ "Succeeded" ]
              },
              "runtimeConfiguration": {
                "concurrency": {
                  "repetitions": 1
                }
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuremonitorlogs": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('monitorLogsConnectionName'))]",
                "connectionName": "[variables('monitorLogsConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azuremonitorlogs')]"
              },
              "azureloganalyticsdatacollector": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('dataCollectorConnectionName'))]",
                "connectionName": "[variables('dataCollectorConnectionName')]",
                "id": "[subscriptionResourceId('Microsoft.Web/locations/managedApis', parameters('location'), 'azureloganalyticsdatacollector')]"
              }
            }
          },
          "VirusTotalApiKey": {
            "value": "[parameters('virusTotalApiKey')]"
          }
        }
      }
    },
    {
      "condition": "[not(empty(parameters('alertEmail')))]",
      "type": "microsoft.insights/actionGroups",
      "apiVersion": "2019-06-01",
      "name": "[variables('actionGroupName')]",
      "location": "Global",
      "properties": {
        "groupShortName": "MySQLTI",
        "enabled": true,
        "emailReceivers": [
          {
            "name": "ThreatIntelAlert",
            "emailAddress": "[parameters('alertEmail')]",
            "useCommonAlertSchema": true
          }
        ]
      }
    },
    {
      "condition": "[not(empty(parameters('alertEmail')))]",
      "type": "microsoft.insights/scheduledqueryrules",
      "apiVersion": "2021-08-01",
      "name": "[variables('alertRuleName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('microsoft.insights/actionGroups', variables('actionGroupName'))]"
      ],
      "properties": {
        "displayName": "MySQL - VirusTotal Confirmed Threat IP",
        "description": "Alerts when MySQL brute force source IPs are confirmed malicious by VirusTotal (ThreatScore >= 3)",
        "severity": 2,
        "enabled": true,
        "evaluationFrequency": "PT1H",
        "scopes": [
          "[parameters('workspaceResourceId')]"
        ],
        "windowSize": "PT1H",
        "criteria": {
          "allOf": [
            {
              "query": "MySqlThreatIntel_CL\n| where ThreatScore_d >= 3\n| project TimeGenerated, IpAddress_s, ResourceName_s, FailedConnections_d, VT_Malicious_d, VT_Suspicious_d, VT_Country_s, VT_ASOwner_s, VT_Network_s, ThreatScore_d, AttemptedUsers_s\n| order by ThreatScore_d desc",
              "timeAggregation": "Count",
              "operator": "GreaterThan",
              "threshold": 0,
              "failingPeriods": {
                "numberOfEvaluationPeriods": 1,
                "minFailingPeriodsToAlert": 1
              }
            }
          ]
        },
        "actions": {
          "actionGroups": [
            "[resourceId('microsoft.insights/actionGroups', variables('actionGroupName'))]"
          ]
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[parameters('logicAppName')]"
    },
    "logicAppResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('logicAppName'))]"
    },
    "postDeploymentSteps": {
      "type": "string",
      "value": "1) Portal > API Connections > {logicAppName}-monitorlogs > Edit API connection > Authorize. 2) Enable the Logic App (deployed as Disabled). 3) Run a manual trigger to test."
    },
    "enrichedDataQuery": {
      "type": "string",
      "value": "MySqlThreatIntel_CL | project TimeGenerated, IpAddress_s, ResourceName_s, FailedConnections_d, VT_Malicious_d, VT_Suspicious_d, VT_Country_s, VT_ASOwner_s, ThreatScore_d, AttemptedUsers_s | order by ThreatScore_d desc"
    }
  }
}
