template/logicapp_isolateinfectedvm.json
{
    "$schema": "https://schema.management.chinacloudapi.cn/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will put VM in ISOLATE state which will deny all inbound and outbound connections and shutdown the VM",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Isolate-infectedVM",
            "type": "String"
        },
        "SenderAddress": {
            "type": "string",
              "metadata": {
                "displayName": "Enter the sender's email address",
                "description": "Enter the sender's email address. Make sure to use an account which can authorize the API connection after deploying this automation artifact."
                }            
        },
        "recipientAddress": {
            "type": "string",
             "metadata": {
                "displayName": "Enter the recipient's email address",
                "description": "Enter the recipient's email address"
            }            
        }
    },
    "variables": {
        "ascalertConnectionName": "ascalert",
        "office365ConnectionName": "office365"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('ascalertConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('SenderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('office365ConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('SenderAddress')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
            "definition": {
                    "$schema": "https://schema.management.chinacloudapi.cn/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Create_Isolate_NSG": {
                            "description": "Create a Azure NSG with deny all and a allow on OS management port, security personnel still needs to change rule priority to below 1000 to connect from Azure Bastion Host ",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.chinacloudapi.cn/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "location": "@{body('HTTP_-_Get_VM_Nic')?['location']}",
                                    "properties": {
                                        "securityRules": [
                                            {
                                                "name": "Port_AnyInbound",
                                                "properties": {
                                                    "access": "Deny",
                                                    "destinationAddressPrefix": "*",
                                                    "destinationAddressPrefixes": [],
                                                    "destinationPortRange": "*",
                                                    "destinationPortRanges": [],
                                                    "direction": "Inbound",
                                                    "priority": 1000,
                                                    "protocol": "*",
                                                    "sourceAddressPrefix": "*",
                                                    "sourceAddressPrefixes": [],
                                                    "sourcePortRange": "*",
                                                    "sourcePortRanges": []
                                                }
                                            },
                                            {
                                                "name": "Port_AnyOutbound",
                                                "properties": {
                                                    "access": "Deny",
                                                    "destinationAddressPrefix": "*",
                                                    "destinationAddressPrefixes": [],
                                                    "destinationPortRange": "*",
                                                    "destinationPortRanges": [],
                                                    "direction": "Outbound",
                                                    "priority": 1000,
                                                    "protocol": "*",
                                                    "sourceAddressPrefix": "*",
                                                    "sourceAddressPrefixes": [],
                                                    "sourcePortRange": "*",
                                                    "sourcePortRanges": []
                                                }
                                            }
                                        ]
                                    }
                                },
                                "method": "PUT",
                                "uri": "https://management.chinacloudapi.cn/subscriptions/@{split(body('HTTP_-_Get_VM_Nic')?['id'], '/')[add(length(split(body('HTTP_-_Get_VM_Nic')?['id'], '/')), -7)]}/resourceGroups/@{variables('rgname')}/providers/Microsoft.Network/networkSecurityGroups/@{variables('newguid')}-NSG?api-version=2019-11-01"
                            },
                            "runAfter": {
                                "Create_Resource_Group_for_Isolate_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Create_Resource_Group_for_Isolate_NSG": {
                            "description": "Create a Resource Group for the NSG, PIP, and Azure Bastion Host. This way once the forenscis are completed and VM moved back to the proper Subnet you can delete the extra resources if desired",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.chinacloudapi.cn/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "location": "@{body('HTTP_-_Get_VM_Nic')?['location']}"
                                },
                                "method": "PUT",
                                "uri": "https://management.chinacloudapi.cn/subscriptions/@{split(body('HTTP_-_Get_VM_Nic')?['id'], '/')[add(length(split(body('HTTP_-_Get_VM_Nic')?['id'], '/')), -7)]}/resourcegroups/@{variables('rgname')}?api-version=2019-10-01"
                            },
                            "runAfter": {
                                "HTTP_-_Get_VM_Nic": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "For_each": {
                            "actions": {
                                "found_valid_resource_ID": {
                                    "actions": {
                                        "Set_variable_8": {
                                            "inputs": {
                                                "name": "resourceID",
                                                "value": "@body('parse_ResourceId')?['azureID']"
                                            },
                                            "runAfter": {},
                                            "type": "SetVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@body('parse_ResourceId')?['azureID']",
                                                        ""
                                                    ]
                                                }
                                            },
                                            {
                                                "equals": [
                                                    "@body('parse_ResourceId')?['type']",
                                                    "host"
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "parse_ResourceId": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "parse_ResourceId": {
                                    "inputs": {
                                        "content": "@items('For_each')",
                                        "schema": {
                                            "properties": {
                                                "$id": {
                                                    "type": "string"
                                                },
                                                "azureID": {
                                                    "type": "string"
                                                },
                                                "hostName": {
                                                    "type": "string"
                                                },
                                                "omsAgentID": {
                                                    "type": "string"
                                                },
                                                "type": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ParseJson"
                                }
                            },
                            "foreach": "@body('Parse_alert_body')?['entities']",
                            "runAfter": {
                                "Parse_alert_body": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_-_Get_Azure_VM": {
                            "description": "Obtain information on the Azure VM",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.chinacloudapi.cn/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.chinacloudapi.cn@{variables('resourceID')}?api-version=2019-12-01"
                            },
                            "runAfter": {
                                "initial_subscriptionID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Get_VM_Nic": {
                            "description": "Obtain VM NIC level details, does the NIC have a PIP, a NSG attached to it, what subnet is it in.",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.chinacloudapi.cn/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "GET",
                                "uri": "https://management.chinacloudapi.cn/@{body('HTTP_-_Get_Azure_VM')?['properties']?['networkProfile']?['networkInterfaces'][0]?['id']}?api-version=2019-07-01"
                            },
                            "runAfter": {
                                "Parse_JSON_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_GUID_for_resource_naming": {
                            "description": "new GUID geenrated for RG and NSG, PIP, and Azure Bastion Host that will be created",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "newguid",
                                        "type": "string",
                                        "value": "@{guid()}"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Initialize_Nic_Configuration_Object": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "nicputrequest",
                                        "type": "object"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_resourceID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_Resource_Group_Name": {
                            "description": "this variable will be used to generate a RG name and will be passed in several calls to create PIP, NSG, and Azure Bastion Host",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "rgname",
                                        "type": "string",
                                        "value": "rg@{variables('newguid')}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_GUID_for_resource_naming": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_resourceID": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "resourceID",
                                        "type": "string"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_Resource_Group_Name": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_resource_URL": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "connecturl",
                                        "type": "string",
                                        "value": "https://portal.azure.cn/#resource@{variables('resourceID')}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Shutdown_Infected_VM": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON_3": {
                            "description": "Parse the Azure VM information for OS Disk Type",
                            "inputs": {
                                "content": "@body('HTTP_-_Get_Azure_VM')",
                                "schema": {
                                    "properties": {
                                        "id": {
                                            "type": "string"
                                        },
                                        "location": {
                                            "type": "string"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "properties": {
                                            "properties": {
                                                "diagnosticsProfile": {
                                                    "properties": {
                                                        "bootDiagnostics": {
                                                            "properties": {
                                                                "enabled": {
                                                                    "type": "boolean"
                                                                },
                                                                "storageUri": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "hardwareProfile": {
                                                    "properties": {
                                                        "vmSize": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "networkProfile": {
                                                    "properties": {
                                                        "networkInterfaces": {
                                                            "items": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "required": [
                                                                    "id"
                                                                ],
                                                                "type": "object"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "osProfile": {
                                                    "properties": {
                                                        "adminusername": {
                                                            "type": "string"
                                                        },
                                                        "allowExtensionOperations": {
                                                            "type": "boolean"
                                                        },
                                                        "computerName": {
                                                            "type": "string"
                                                        },
                                                        "linuxConfiguration": {
                                                            "properties": {
                                                                "disablePasswordAuthentication": {
                                                                    "type": "boolean"
                                                                },
                                                                "provisionVMAgent": {
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "requireGuestProvisionSignal": {
                                                            "type": "boolean"
                                                        },
                                                        "secrets": {
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "provisioningState": {
                                                    "type": "string"
                                                },
                                                "storageProfile": {
                                                    "properties": {
                                                        "dataDisks": {
                                                            "type": "array"
                                                        },
                                                        "imageReference": {
                                                            "properties": {
                                                                "exactVersion": {
                                                                    "type": "string"
                                                                },
                                                                "offer": {
                                                                    "type": "string"
                                                                },
                                                                "publisher": {
                                                                    "type": "string"
                                                                },
                                                                "sku": {
                                                                    "type": "string"
                                                                },
                                                                "version": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "osDisk": {
                                                            "properties": {
                                                                "caching": {
                                                                    "type": "string"
                                                                },
                                                                "createOption": {
                                                                    "type": "string"
                                                                },
                                                                "managedDisk": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "name": {
                                                                    "type": "string"
                                                                },
                                                                "osType": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "vmId": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "resources": {
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "location": {
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "properties": {
                                                            "autoUpgradeMinorVersion": {
                                                                "type": "boolean"
                                                            },
                                                            "provisioningState": {
                                                                "type": "string"
                                                            },
                                                            "publisher": {
                                                                "type": "string"
                                                            },
                                                            "settings": {
                                                                "properties": {
                                                                    "workspaceId": {
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "type": {
                                                                "type": "string"
                                                            },
                                                            "typeHandlerVersion": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "tags": {
                                                        "properties": {
                                                            "creationDate": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "name",
                                                    "id",
                                                    "type",
                                                    "location",
                                                    "properties"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "tags": {
                                            "properties": {
                                                "creationDate": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "HTTP_-_Get_Azure_VM": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Parse_alert_body": {
                            "inputs": {
                                "content": "@triggerBody()",
                                "schema": {
                                    "properties": {
                                        "alertDisplayName": {
                                            "type": "string"
                                        },
                                        "alertUri": {
                                            "type": "string"
                                        },
                                        "compromisedEntity": {
                                            "type": "string"
                                        },
                                        "description": {
                                            "type": "string"
                                        },
                                        "endTimeUtc": {
                                            "type": "string"
                                        },
                                        "entities": {
                                            "items": {
                                                "properties": {
                                                    "$id": {
                                                        "type": "string"
                                                    },
                                                    "address": {
                                                        "type": "string"
                                                    },
                                                    "azureID": {
                                                        "type": "string"
                                                    },
                                                    "host": {
                                                        "properties": {
                                                            "$ref": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "hostName": {
                                                        "type": "string"
                                                    },
                                                    "isDomainJoined": {
                                                        "type": "boolean"
                                                    },
                                                    "location": {
                                                        "properties": {
                                                            "asn": {
                                                                "type": "integer"
                                                            },
                                                            "city": {
                                                                "type": "string"
                                                            },
                                                            "countryCode": {
                                                                "type": "string"
                                                            },
                                                            "countryName": {
                                                                "type": "string"
                                                            },
                                                            "latitude": {
                                                                "type": "number"
                                                            },
                                                            "longitude": {
                                                                "type": "number"
                                                            },
                                                            "state": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "type": "string"
                                                    },
                                                    "ntDomain": {
                                                        "type": "string"
                                                    },
                                                    "omsAgentID": {
                                                        "type": "string"
                                                    },
                                                    "sourceAddress": {
                                                        "properties": {
                                                            "$ref": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                },
                                                "required": [
                                                    "$id",
                                                    "type"
                                                ],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "extendedProperties": {
                                            "properties": {
                                                "accounts used on failed sign in to host attempts": {
                                                    "type": "string"
                                                },
                                                "end Time UTC": {
                                                    "type": "string"
                                                },
                                                "killChainIntent": {
                                                    "type": "string"
                                                },
                                                "number of failed authentication attempts to host": {
                                                    "type": "string"
                                                },
                                                "resourceType": {
                                                    "type": "string"
                                                },
                                                "was SSH session initiated": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "isIncident": {
                                            "type": "boolean"
                                        },
                                        "remediationSteps": {
                                            "type": "string"
                                        },
                                        "resourceIdentifiers": {},
                                        "severity": {
                                            "type": "string"
                                        },
                                        "startTimeUtc": {
                                            "type": "string"
                                        },
                                        "status": {
                                            "type": "string"
                                        },
                                        "systemAlertId": {
                                            "type": "string"
                                        },
                                        "timeGenerated": {
                                            "type": "string"
                                        },
                                        "vendorName": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {
                                "Initialize_Nic_Configuration_Object": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson"
                        },
                        "Send_an_email_(V2)": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>Azure Security Center has discovered a potential security threat in your environment and has isolated your Azure VM. Details below:<br>\n<br>\nAlert name: @{triggerBody()?['AlertDisplayName']}<br>\n<br>\nAttacked resource: @{triggerBody()?['CompromisedEntity']}<br>\n<br>\nAlert severity: @{triggerBody()?['Severity']}<br>\n<br>\nDetection time: @{triggerBody()?['TimeGenerated']}<br>\n<br>\nDescription: @{triggerBody()?['Description']}<br>\n<br>\nDetected by: @{triggerBody()?['VendorName']}<br>\n<br>\nAlert ID: @{triggerBody()?['SystemAlertId']}<br>\n<br>\nResource identifiers: @{body('Parse_JSON_3')?['id']}<br>\n<br>\nLink to view alert in Azure Security Center: @{triggerBody()?['AlertUri']}<br>\n<br>\n</p>",
                                    "Subject": "Azure Security Center has isolated a Azure VM due to a potential security threat in your environment",
                                    "To": "[parameters('recipientAddress')]"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {
                                "Initialize_resource_URL": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection"
                        },
                        "Shutdown_Infected_VM": {
                            "inputs": {
                                "authentication": {
                                    "type": "ManagedServiceIdentity"
                                },
                                "method": "POST",
                                "uri": "https://management.chinacloudapi.cn@{variables('resourceID')}/deallocate?api-version=2021-03-01"
                            },
                            "runAfter": {
                                "Update_Nic_with_Isolate_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Update_Nic_with_Isolate_NSG": {
                            "description": "Move the Azure VM to a the ISOLATE Subnet that has a NSG applied, VM restarts dropping any persistent connections",
                            "inputs": {
                                "authentication": {
                                    "audience": "https://management.chinacloudapi.cn/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": "@variables('nicputrequest')",
                                "method": "PUT",
                                "uri": "https://management.chinacloudapi.cn@{body('HTTP_-_Get_VM_Nic')?['id']}?api-version=2019-11-01"
                            },
                            "runAfter": {
                                "configure_Nic_with_Isolate_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "configure_Nic_with_Isolate_NSG": {
                            "inputs": {
                                "name": "nicputrequest",
                                "value": {
                                    "location": "@{body('HTTP_-_Get_VM_Nic')?['location']}",
                                    "properties": {
                                        "ipConfigurations": [
                                            {
                                                "name": "ipconfig1",
                                                "properties": {
                                                    "subnet": {
                                                        "id": "@{body('HTTP_-_Get_VM_Nic')?['properties']?['ipConfigurations'][0]?['properties']?['subnet']?['id']}"
                                                    }
                                                }
                                            }
                                        ],
                                        "networkSecurityGroup": {
                                            "id": "@{variables('nsgid')}"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "initialize_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "SetVariable"
                        },
                        "initial_subscriptionID": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "SubID",
                                        "type": "string",
                                        "value": "@{substring(variables('resourceID'),15,36)}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "initialize_NSG": {
                            "description": "Set variable with the newly created NSG's Azure Resource ID to be used later.",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "nsgid",
                                        "type": "string",
                                        "value": "@{body('Create_Isolate_NSG')?['id']}"
                                    }
                                ]
                            },
                            "runAfter": {
                                "Create_Isolate_NSG": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_an_Azure_Security_Center_Alert_is_created_or_triggered": {
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['ascalert']['connectionId']"
                                    }
                                },
                                "path": "/Microsoft.Security/Alert/subscribe"
                            },
                            "type": "ApiConnectionWebhook"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "office365": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('office365ConnectionName'))]",
                                "connectionName": "[variables('office365ConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/office365')]"
                            },
                            "ascalert": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('ascalertConnectionName'))]",
                                "connectionName": "[variables('ascalertConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/ascalert')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}