template/logicapp_customizednotification.json
{
    "$schema": "https://schema.management.chinacloudapi.cn/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata":{
        "comments": "This playbook will generate notification email with detailed security alerts",
        "author": "Nathan Swift"
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "sentinel-like-security-alert",
            "type": "String"
        },
        "location": {
            "type": "string",
            "metadata": {
                "displayName": "logicapp workflow location",
                "description": "logicapp workflow location"
            },
            "defaultValue": "chinaeast2"                     
        },        
        "recipientAddress": {
            "type": "string",
             "metadata": {
                "displayName": "Enter the recipient's email address",
                "description": "Enter the recipient's email address"
            }            
        },
        "workspaceresourcegroup": {
            "type": "string",
             "metadata": {
                "displayName": "Target Log Analytics workspace resource group",
                "description": "Target Log Analytics workspace resource group"
            }            
        }, 
        "workspacename": {
            "type": "string",
             "metadata": {
                "displayName": "Target Log Analytics workspace name",
                "description": "Target Log Analytics workspace name"
            }            
        },
        "workspacesubscription": {
            "type": "string",
             "metadata": {
                "displayName": "Target Log Analytics workspace subscription",
                "description": "Target Log Analytics workspace subscription"
            }            
        },       
        "interval": {
            "type": "int",
             "metadata": {
                "displayName": "interval minutes for new alert email",
                "description": "interval minutes for new alert email"
            },
            "defaultValue": 15
        }
    },
    "variables": {
        "logaanlyticsconnector": "azuremonitorlogs",
        "emailconnector": "outlook"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('logaanlyticsconnector')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[variables('logaanlyticsconnector')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/',variables('logaanlyticsconnector'))]"
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('emailconnector')]",
            "location": "[parameters('location')]",
            "properties": {
                "displayName": "[variables('emailconnector')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/',variables('emailconnector'))]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[parameters('location')]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('logaanlyticsconnector'))]",
                "[resourceId('Microsoft.Web/connections', variables('emailconnector'))]"
            ],
            "tags": {
                "LogicAppsCategory": "security"
            },
            "properties": {
            "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "For_each": {
                            "actions": {
                                "Run_query_and_visualize_results": {
                                    "inputs": {
                                        "body": "@items('For_each')?['Query']",
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/visualizeQuery",
                                        "queries": {
                                            "resourcegroups": "[parameters('workspaceresourcegroup')]",
                                            "resourcename": "[parameters('workspacename')]",
                                            "resourcetype": "Log Analytics Workspace",
                                            "subscriptions": "[parameters('workspacesubscription')]",
                                            "timerange": "last 1 days",
                                            "visType": "Html Table"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "ApiConnection"
                                },
                                "Send_an_email_(V2)": {
                                    "inputs": {
                                        "body": {
                                            "Attachments": [
                                                {
                                                    "ContentBytes": "@{body('Run_query_and_visualize_results')?['attachmentContent']}",
                                                    "Name": "@body('Run_query_and_visualize_results')?['attachmentName']"
                                                }
                                            ],
                                            "Body": "<p>监控规则：@{items('For_each')?['Rule']}<br>\n优先级: @{items('For_each')?['Severity']}<br>\n监控类别: @{items('For_each')?['Category']}<br>\n告警触发时间: @{items('For_each')?['TimeGenerated']}<br>\n告警涉及的具体对象请参见邮件附录</p>",
                                            "Subject": "安全监控告警 - @{items('For_each')?['Rule']}",
                                            "To": "[parameters('recipientAddress')]"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['outlook']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v2/Mail"
                                    },
                                    "runAfter": {
                                        "Run_query_and_visualize_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                }
                            },
                            "foreach": "@body('Run_query_and_list_results')?['value']",
                            "runAfter": {
                                "Run_query_and_list_results": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Run_query_and_list_results": {
                            "inputs": {
                                "body": "sentinelscanreport_CL\n| where Category matches regex \"Sentinel.*Detection.*\"\n| summarize arg_max(TimeGenerated, count_d) by rulename_s, Category, query_s,severity_s\n| where count_d != 0\n| where TimeGenerated > ago(15m)\n| project TimeGenerated, Rule = rulename_s, Category, Severity = severity_s, Count = count_d, Query = query_s",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('workspaceresourcegroup')]",
                                    "resourcename": "[parameters('workspacename')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[parameters('workspacesubscription')]",
                                    "timerange": "Last 24 hours"
                                }
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('interval')]"
                            },
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": "[parameters('interval')]"
                            },
                            "type": "Recurrence"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('logaanlyticsconnector'))]",
                                "connectionName": "[variables('logaanlyticsconnector')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/',variables('logaanlyticsconnector'))]"
                            },
                            "outlook": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('emailconnector'))]",
                                "connectionName": "[variables('emailconnector')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/',variables('emailconnector'))]"
                            }
                        }
                    }
                }
            }
        }
    ]
}